/**
 * Form row - normal width = 47%.
 * 
 * Space between = 6%.
 *
 * 47 | 6 | 20.5 | 6 | 20.5 = 100%.
 */
.woocommerce form .form-row.pronamic-address-field {
	box-sizing: border-box;
}

.woocommerce form .form-row.pronamic-street-field {
	float: left;

	width: 47%;
	margin-right: 6%;
}

.woocommerce form .form-row.pronamic-house-number-field {
	float: left;

	width: 20.5%;
	margin-right: 6%;
}

.woocommerce form .form-row.pronamic-house-number-addition-field {
	float: right;

	width: 20.5%;
}

.woocommerce form .form-row.pronamic-address-field label {
	display: flex;
}

.woocommerce form .form-row.pronamic-address-field label span {
	overflow: hidden;

	text-wrap: nowrap;
	text-overflow: ellipsis;
}
